@{
    ViewData["Title"] = "Home Page";
    ViewData["App"] = "Church Movie App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @ViewData["App"]</h1>
    <hr>
    <h4>Where you can keep track of all your favorite Church Movies!</h4>
    <hr>
    <img src="imgs/Church Movie Collection.JPG" alt="Church Movies Collage">
    <hr>
</div>
